@import url(reset.css);
@import url(fonts.css);

body{
    font-family: Helvetica, sans-serif;
    background-color: #003454;
    color: #003454;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.page {
    flex-grow: 1;
    position: relative;
    background-color: #fff;
}

[class*='__container']{
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 2rem 0;
    max-width: 15rem;
}
.page__container{
    flex-direction: column;
    align-items: center;
}
.page__description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page__header{
    font-weight: 200;
    font-size: 2.8rem;
    line-height: 1.3;
    margin: 1.5rem 0 1rem 0 ;
    text-align: center;
}
.page__text{
    max-width: 70%;
    line-height: 1.8;
    text-align: center;
}

.page__image {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.page__image img{
    height: 20rem;
    width: auto;
    margin: 1rem 0;
    overflow: clip;
}
.page__anim {
    position: absolute;
    height: 17rem;
    width: auto;
    object-fit: contain;
    margin-left: -30%;
}

.footer{
    padding: 2rem 0;
    text-align: center;
    font-size: 1rem;
    color: #fff;
}

@media (max-width:768px) {
    .header__logo{
    margin: 1rem 0;
    }
    .page__header{
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 1rem;
    text-align: center;
    }
    .page__text{
        max-width: 70%;
        line-height: 1.8;
        text-align: center;
    }
    .page__image img{
        height: 15rem;
    }
    .page__anim {
        height: 12rem;
    }
    .footer{
    padding: 1rem 0;
    }
}